<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>City - detail</title>
</head>
<body>

    <div style="padding: 10px">
        <a href="/">HOME</a>
        <a href="/cities">LIST</a>
    </div>

    <h1 style="padding: 10px"><b>{{name}}</b >시</h1>                       <!--서버에서 받아온 변수를 템플릿 안에서 사용 시 '{{변수}}' 로 사용-->
    
    <div style = "padding: 10px">
        <span>Time zone</span> :
        <span>{{timezone}}</span>
    </div>

    <div style="padding: 10px">
        <span>Current time</span> :
        <span>{{current_time}}</span>
    </div>
</body>
</html>